/* ****** Header ****** */
div.Typist {
  font-family: 'VT323'
}

body {
  padding-top: 8em !important;
  background: url('https://images.unsplash.com/photo-1483412468200-72182dbbc544?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=01f0ac7ce33cc98d0076e91dbea00911&auto=format&fit=crop&w=1506&q=80') no-repeat center center fixed !important;
  background-blend-mode: screen;
  box-sizing: inherit !important; 
  width: '100%';
  background-size: cover !important;

}

.cal {
  background: rgba(255, 255, 255, 0.6);
}

.othercal {
  background: rgba(255, 255, 255, 0.75);
}

.main-nav {
  color: "white";
  background-color: #53407a;
  margin: 0;
  padding: 5px 0 0 0;
  list-style-type: none;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 9;
}

.main-nav a{
  color: #fff;
}

.main-nav li {
  line-height: 80px;
  display: inline-block;
}

/* .wrapper {
  border: none !important;
  margin-top: 0% !important;  
} */

.footer {
  background-color: #53407A!important;
  position: relative !important;
  padding: 5em 5% !important;
  width:100% !important; 
}
