/* ****** Header ****** */

body {
  padding-top: 8em !important;
}

.main-nav {
  color: "white";
  background-color: #53407a;
  margin: 0;
  padding: 5px 0 0 0;
  list-style-type: none;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 9;
}

.main-nav a{
  color: #fff;
}

.main-nav li {
  line-height: 80px;
  display: inline-block;
}


.wrapper {
  border: none !important;
  margin-top: 0% !important;
  
}

.footer {
  background-color: #53407A!important;
  position: relative !important;
  padding: 5em 5% !important;
  width:100% !important; 
}
